<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Saangai</title>
    <style>
      body {
        background: linear-gradient(90deg,#eff9f4,#dae8e1,#daefe4) !important;
       // background-color: #e7e7e7;
      }
    </style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but saangai doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
