<template>
  <div>
    <ComposeMessage />
  </div>
</template>

<script>
// @ is an alias to /src
import ComposeMessage from '@/components/ComposeMessage.vue'

export default {
  name: 'composemessage',
  components: {
    ComposeMessage
  }
}
</script>


