<template>
  <div>
     <Contact />
  </div>
</template>
<script>
// @ is an alias to /src
import Contact from '@/components/contact.vue'

export default {
  name: 'contact',
  components: {
    Contact
  }
}
</script>

