<template>
  <div class="">
    <Setting />
  </div>
</template>

<script>
// @ is an alias to /src
import Setting from '@/components/Setting.vue'

export default {
  name: 'setting',
  components: {
    Setting
  }
}
</script>

