
<template>
  <div>
    <v-container>
      <v-layout row wrap>
        <v-flex md1 sm1>
        </v-flex>
        <v-flex xs12 md10 sm10>
          <v-card color="#e7e7e7">
            <v-toolbar color="#E3F2FD">
              <v-toolbar-title>Chatrooms</v-toolbar-title>
            </v-toolbar>
            <ChatroomItem />
          </v-card>
        </v-flex>
        <v-flex md1 sm1>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
import ChatroomItem from './ChatroomItem.vue'
export default {
  components: {
    name: 'ChatroomItem',
    ChatroomItem
  }
}
</script>
<style>
</style>

