
<template>
  <div>
    <v-card class="" color="#e7e7e7" style="margin-top: -20px;">
      <v-container>
        <v-avatar color="grey" class="mr-3"><img src="http://anishghimire.com.np/images/anishGhimire.jpg"/></v-avatar>
        <span>username</span>
        <div class="mt-3">
          Maybe its a Fox that jumped.
        </div>
      </v-container>
    </v-card>
  </div>
</template>
<script>
export default {
  components: {
    name: 'Comment'
  },
  data () {
    return {
      posts: [
        {
          username: 'anish',
          name: 'Anish Ghimire',
          postedon: '2018-1-1',
          content: 'A quick brown ox jumped over the lazy fox.'
        }
      ]
    }
  }
}
</script>
<style>
.username {
  margin-top: -15px;
}
</style>
