<template>
  <div>
    <v-layout row wrap>
      <v-flex xs12 sm7 md7 class="ml-2 mt-2">
        <v-avatar color="grey" class="mr-2 ml-2 mt-1 mb-1"><img src="http://anishghimire.com.np/images/anishGhimire.jpg"/></v-avatar>
        <span>
          anishlove commented on your post.
        </span>
      </v-flex>
      <v-flex xs12 sm4 md4>
        <p class="text-xs-right mt-3">
          <v-btn>View</v-btn>
        </p>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
export default {
  components: {
    name: 'CommentNotification'
  }
}
</script>


