<template>
  <div>
    <v-container>
      <v-layout row justify-center>
        <v-flex md1 sm1>
        </v-flex>
        <v-flex xs12 md10 sm10>
          <v-card>
            <v-card-title>Sender</v-card-title>
            <div style="overflow-y: scroll; height: 320px;">
            <v-card color="#e7e7e7">
              <v-layout row wrap>
                <v-flex xs12>
                  <v-card-text>
                    <v-avatar color="grey" class="mr-3"><img src="http://anishghimire.com.np/images/anishGhimire.jpg"/></v-avatar>
                      <span>sender message will be displayed here.</span>
                  </v-card-text>
                </v-flex>
              </v-layout>
            </v-card>
            <v-card color="#e7e7e7">
              <v-layout row wrap>
                <v-flex xs12>
                  <v-card-text class="text-xs-right">
                    <span>receiver message will be displayed here.</span>
                  </v-card-text>
                </v-flex>
              </v-layout>
            </v-card>
            <v-card color="#e7e7e7">
              <v-layout row wrap>
                <v-flex xs12>
                  <v-card-text class="text-xs-right">
                    <span>receiver message will be displayed here.</span>
                  </v-card-text>
                </v-flex>
              </v-layout>
            </v-card>
            <v-card color="#e7e7e7">
              <v-layout row wrap>
                <v-flex xs12>
                  <v-card-text class="text-xs-right">
                    <span>receiver message will be displayed here.</span>
                  </v-card-text>
                </v-flex>
              </v-layout>
            </v-card>
            <v-card color="#e7e7e7">
              <v-layout row wrap>
                <v-flex xs12>
                  <v-card-text class="text-xs-right">
                    <span>receiver message will be displayed here.</span>
                  </v-card-text>
                </v-flex>
              </v-layout>
            </v-card>
            <v-card color="#e7e7e7">
              <v-layout row wrap>
                <v-flex xs12>
                  <v-card-text class="text-xs-right">
                    <span>receiver message will be displayed here.</span>
                  </v-card-text>
                </v-flex>
              </v-layout>
            </v-card>
            <v-card color="#e7e7e7">
              <v-layout row wrap>
                <v-flex xs12>
                  <v-card-text class="text-xs-right">
                    <span>receiver message will be displayed here.</span>
                  </v-card-text>
                </v-flex>
              </v-layout>
            </v-card>
            <v-card color="#e7e7e7">
              <v-layout row wrap>
                <v-flex xs12>
                  <v-card-text class="text-xs-right">
                    <span>receiver message will be displayed here.</span>
                  </v-card-text>
                </v-flex>
              </v-layout>
            </v-card>
            <v-card color="#e7e7e7">
              <v-layout row wrap>
                <v-flex xs12>
                  <v-card-text class="text-xs-right">
                    <span>receiver message will be displayed here.</span>
                  </v-card-text>
                </v-flex>
              </v-layout>
            </v-card>
            </div>
           <v-divider></v-divider>

           <v-card-actions>
             <v-layout row wrap>
               <v-flex sm12 xs12 md9>
                 <v-text-field box label="Write your message here" ></v-text-field>
               </v-flex>
               <v-flex md3 sm12 xs12 mt-2>
                 <p class="text-xs-center">
                   <v-btn
                     color="success"
                     depressed
                   >  
                    Send
                   </v-btn>
                 </p>
              </v-flex>
             </v-layout>
           </v-card-actions>
         </v-card>
        </v-flex>
        <v-flex md1 sm1>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
export default {
  components: {
    name: 'ComposeMessage'
  }
}
</script>

