<template>
  <div>
    <v-container>
      <v-layout row wrap>
        <v-flex md1 sm1>
        </v-flex>
        <v-flex xs12 md10 sm10>
          <UpdateForm />
          <Post />
        </v-flex>
        <v-flex md1 sm1>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
import UpdateForm from './UpdateForm.vue'
import Post from './Post.vue'
export default {
  components: {
    UpdateForm,
    Post
  }
}
</script>
