<template>
  <div>
    <form
      @submit="loginValidate"
      action="/home"
    >
    <div v-if="errors.length">
      <v-alert
        :value="true"
        type="error"
        color="#d44950"
        v-for="error in errors"
        :key="error.id"
      >
        {{ error  }}
      </v-alert>
    </div>
    <v-text-field
      v-model="username"
      placeholder="Username"
      prepend-icon="person"
      solo
      autofocus
      background-color="#e7e7e7"
      color="black"
    ></v-text-field>
    <v-text-field
      v-model = "password"
      placeholder="Password"
      prepend-icon="lock"
      solo
      :append-icon = "show1 ? 'visibility_off' :
        'visibility'"
      :type = "show1 ? 'text' : 'password'"
      @click:append = "show1 = !show1"
      background-color="#e7e7e7"
      color="black"
    >
    </v-text-field>
    <p class="text-md-center text-sm-center
      text-xs-left">
      <router-link
        :to="'forgot-password'">Forgot
           Password?</router-link>
    </p>
    <p class="text-md-center text-sm-center">
      <v-btn type="submit" block color="#6adca1"
        class="default-btn ml-5 mr-5">
          Sign In
      </v-btn>
    </p>
    </form>
  </div>
</template>
<script>
export default {
  components: {
    name: 'LoginComponent'
  },
  data () {
    return {
      show1: false,
      show2: true,
      show3: false,
      show4: false,
      username: null,
      password: null,
      errors: []
    }
  },
  methods: {
    loginValidate: function (e) {
      if (this.username && this.password) {
        return true
      }
      this.errors = []
      if (!this.username || !this.password) {
        this.errors.push('Please fill all the fields.')
      }
      e.preventDefault()
    }
  }
}
</script>
