<template>
  <div>
    <v-layout row wrap>
      <v-flex xs12 sm12 md12 class="ml-2 mt-2">
         <v-avatar color="grey" class="mr-2 ml-2 mt-1 mb-1"><img src="http://anishghimire.com.np/images/anishGhimire.jpg"/></v-avatar>
         <b>anish: </b>
         <span>
           anishlove wants to connnect with you on Saangai.
         </span>
      </v-flex>
    </v-layout>
  </div>
</template>
</script>
<script>
export default {
  components: {
    name: 'MessageItem'
  }
}
</script>
