
<template>
  <div>
    <v-container>
      <v-layout row wrap>
        <v-flex md1 sm1>
        </v-flex>
        <v-flex xs12 md10 sm10>
          <v-card color="#e7e7e7">
            <v-toolbar color="#E3F2FD">
              <v-toolbar-title>Notifications</v-toolbar-title>
            </v-toolbar>
            <FriendRequest />
            <v-divider> </v-divider>
            <CommentNotification />
          </v-card>
        </v-flex>
        <v-flex md1 sm1>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
import FriendRequest from './FriendRequest.vue'
import CommentNotification from './CommentNotification.vue'
export default {
  components: {
    name: 'Notification',
    FriendRequest,
    CommentNotification
  }
}
</script>
<style>
</style>


