<template>
  <div>
    <v-container>
    <v-layout row wrap>
       <v-flex sm12 md12>
         <v-layout row wrap>
           <v-flex md2 sm2 xs4 class="mt-2">
            <p v-if="liked == false">
              {{ like  }}
              <v-icon @click="addlike">thumb_up
              </v-icon>
            </p>
            <p v-else>
              {{ like }}
              <v-icon @click="addlike"
                v-bind:style="{color: theme}"
                >thumb_up
              </v-icon>
            </p>
           </v-flex>
           <v-flex md2 sm2 xs4 class="mt-2">
             <p v-if="disliked == false">
               {{ dislike }}
               <v-icon @click="addDislike">thumb_down
               </v-icon>
             </p>
             <p v-else>
               {{ dislike }}
               <v-icon @click="addDislike"
                  v-bind:style="{color: theme}"
                 >thumb_down
               </v-icon>
             </p>
           </v-flex>
           <v-flex md2 sm2 xs4 class="mt-2">
             {{ comment }}
             <v-icon @click="isHidden =!isHidden">comment</v-icon>
           </v-flex>
         </v-layout>
       </v-flex>
     </v-layout>
     </v-container>
     <v-container style="margin-top: -20px;">
       <v-layout row wrap>
         <v-flex xs12>
           <Comment v-show="isHidden" />
         </v-flex>
       </v-layout>
     </v-container>
  </div>
</template>
<script>
import Comment from './Comment.vue'
export default {
  data () {
    return {
      isHidden: false,
      like: 5,
      theme: '#6adca1',
      def: '#',
      liked: false,
      dislike: 4,
      comment: 0,
      disliked: false
    }
  },
  components: {
    name: 'Reaction',
    Comment
  },
  methods: {
    addlike: function () {
      if (this.liked === false) {
        this.like += 1
        this.liked = true
        if (this.liked === true && this.disliked === true) {
          this.disliked = false
          this.dislike -= 1
        }
      }
      else {
        this.like -= 1
        this.liked = false
      }
    },
    addDislike: function () {
      if (this.disliked === false) {
        this.dislike += 1
        this.disliked = true
        if (this.disliked === true && this.liked === true) {
          this.liked = false
          this.like -= 1
        }
      }
      else {
        this.dislike -= 1
        this.disliked = false
      }
    }
  }
}
</script>
<style>
</style>
