<template>
  <div>
    <div color="#e7e7e7">
      <v-form>
        <v-text-field
          v-model="reply"
          placeholder="Write a reply here.."
          solo
          style="margin-bottom: -10px;"
          append-icon="send"
        >
        </v-text-field>
      </v-form>
    </div>
  </div>
</template>
<script>
export default {
  components: {
    name: 'ReplyBox'
  }
}
</script>
<style>
.reply-btn {
  width: 90% !important;
}
</style>
