<template>
  <div>
    <v-card color="#e7e7e7">
      <v-form>
      <v-container>
        <v-layout row wrap>
          <v-flex xs12 sm12>
            <!-- later image of the user will be displayed here -->
          </v-flex>
          <v-flex xs12 sm12>
              <v-textarea
                v-model="status"
                placeholder="Whats going on?"
                solo
                autofocus
                prepend-inner-icon="person"
              >
              </v-textarea>
           </v-flex>
        </v-layout>
        <v-layout row wrap>
          <v-flex xs6>
            <input type="file" />
          </v-flex>

          <v-flex xs6 text-xs-right>
            <v-btn type="submit" color="#6adca1"
              class="default-btn">
                UPDATE
            </v-btn>
          </v-flex>
        </v-layout>
      </v-container>
      </v-form>
    </v-card>
  </div>
</template>
<script>
export default {
  components: {
    name: 'UpdateForm'
  }
}
</script>
