<template>
  <div>
  <v-app>
    <!-- right nav drawer for online friends and chatroom  -->
    <v-navigation-drawer
      fixed
      v-model="drawerRight"
      right
      clipped
      app
      width="250"
      class="navDrawer"
    >
    <v-tabs
      v-model="active"
      color="cyan"
      dark
      slider-color="yellow"
    >
      <v-tab
        ripple
      >
        Online
      </v-tab>
      <v-tab
        ripple
      >
        Chatting
      </v-tab>
      <v-tab ripple>
        Chatrooms
      </v-tab>
    <v-tab-item>
      <v-list dense class="pt-0">
      <v-list-tile
        v-for="user in onlineFriends"
        :key="user.id"
      >
        <v-list-tile-action>
          <v-icon>{{ user.icon }}</v-icon>
        </v-list-tile-action>

        <v-list-tile-content>
          <v-list-tile-title @click="openchat">{{ user.username
            }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      </v-list>
    </v-tab-item>
    <v-tab-item>
      <v-list dense class="pt-0">
      <v-list-tile
        v-for="user in currentlyChatting"
        :key="user.id"
      >
        <v-list-tile-action>
          <v-icon>{{ user.icon }}</v-icon>
        </v-list-tile-action>

        <v-list-tile-content>
          <v-list-tile-title>{{ user.username
            }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      </v-list>
    </v-tab-item>
    <v-tab-item>
      <v-list dense class="pt-0">
      <v-list-tile
        v-for="chatroom in chatroom"
        :key="chatroom.id"
      >
        <v-list-tile-action>
          <v-icon>{{ chatroom.icon }}</v-icon>
        </v-list-tile-action>

        <v-list-tile-content>
          <v-list-tile-title>{{ chatroom.chatroom
            }}</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      </v-list>
    </v-tab-item>
    </v-tabs>
    <v-divider></v-divider>

    </v-navigation-drawer>
    <v-toolbar
      color="#6adca1"
      fixed
      app
      clipped-right
    >
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>SAANGAI</v-toolbar-title>
      <v-spacer> </v-spacer>
      <!-- main nav bar -->
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn
          flat
          v-for="item in menuItems"
          :key="item.title"
          :to="item.link">
          <v-icon left dark>
            {{ item.icon }}
          </v-icon>
          {{ item.title }}
         </v-btn>
      </v-toolbar-items>
      <v-toolbar-side-icon @click.stop="drawerRight =
            !drawerRight"></v-toolbar-side-icon>
    </v-toolbar>
    <!-- this nav drawer is for left nav drawer   -->
    <v-navigation-drawer
      fixed
      v-model="drawer"
      app
      width="250"
      class="navDrawer"
    >
      <v-toolbar color="#6adca1">
        <v-list>
          <v-list-tile>
            <v-list-tile-title class="title">
              SAANGAI
            </v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-toolbar>

      <v-divider></v-divider>

      <v-list dense class="pt-0">
        <v-list-tile
          v-for="item in menuItems"
          :key="item.id"
          :to="item.link"
        >
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>

          <v-list-tile-content>
            <v-list-tile-title>{{ item.title
              }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <!-- end of left nav drawer  -->
    <v-content>
    <main>
      <router-view> </router-view>
    </main>
    </v-content>
  </v-app>
  </div>
</template>
<script>
import ComposeMessage from '../components/ComposeMessage.vue'
export default {
  name: 'compose-message',
  components: {
    ComposeMessage
  },
  data () {
    return {
      drawer: false,
      drawerRight: true,
      menuItems: [
        { title: 'Home', icon: 'home', link: '/home' },
        {
          title: 'Notification',
          icon: 'add_alert',
          link: '/notification'
        },
        { title: 'Message', icon: 'email', link: '/message' },
        { title: 'Chatroom', icon: 'forum', link: '/chatroom' },
        { title: 'Username', icon: 'person', link: '/username' },
        { title: 'Settings', icon: 'settings', link: '/setting' }
      ],
      onlineFriends: [
        { username: 'anish', icon: 'person' }

      ],
      currentlyChatting: [
        { username: 'anish', icon: 'email' }
      ],
      chatroom: [
        { chatroom: 'anish', icon: 'forum' }
      ],
      right: null,
      left: null
    }
  },
  methods: {
    openchat: function () {
      alert('Yey')
    }
  }
}
</script>

<style lang="stylus">
  @import '../stylus/main'
</style>
